html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  background-color: @color-background;
  color: @color-content;
  font-family: @font;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
} 

@media only screen and @mobile-width {
  
  .mobile-hidden {
    display: none;
  }
}

/*Free host styles*/
[style="text-align:right;position:fixed;bottom:3px;right:3px;width:100%;z-index:999999;cursor:pointer;line-height:0;display:block;"] {
  display: none !important;
}